
/* Toute la page*/

@font-face
{
    font-family: index/roboto, acumin-pro;
}

body {
    width: 100%;
    height: 100vh;
}

h1
{
    font-family: acumin-pro, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}
.h3_color {
    color: #fff;
    background-color: #262238;
    padding: 10px 20px;
}

.nolist {
    list-style: none;
}

ul.nolist li:nth-child(2),
ul.nolist li:nth-child(4),
ul.nolist li:nth-child(6) {
    margin-bottom: 10px;
}

h2 {
    font-family: acumin-pro, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
}
h3 
{
    text-transform: none;
    font-size: 14px;
    font-weight: normal;
}
.date 
{
    font-family: acumin-pro, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    max-width: 992px;

}


/* section 0- Bande droite - Titre*/

.box :nth-child(1)
{
    order: 2;
    
}

#titre {
    font-family: acumin-pro, sans-serif;
    float: left;
    margin-left: 225px;
}

.prenom_nom 
{
    font-size: 24px;
}

#prenom {
    color: #ed3a88;
    font-weight: bold;
}

#sous-titre 
{
    font-weight: normal;
    font-size: 20px;
}



/* section 1 - Bande Droite - Formation */

.box :nth-child(2)
{
    order: 4;
}
.formation {
    float: left;
    margin-left: 225px;
}

/*section 2 - Bande Droite - Expérience pro*/

.box :nth-child(3) 
{
    order: 8;
}
.experience_pro {
    float: left;
    margin-left: 225px;
}



/*section 3 - Bande Droite - Recommandations*/
.box :nth-child(4) {
    order: 9;
}
.recommandations {
    float: left;
    margin-left: 225px;
}

/*section 4 - Bande Gauche - Photo*/

.box :nth-child(5) 
{
    order: 1;
}

#left-box {
    background-color: #ed3a88;
    width: 25%;
    float: left;
    height:100%;
}

.ngm {              /*  centrer */
    width: 133px;
    height: 133px;
    border: none;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #262238;
}

/*section 5 - Bande Gauche - Contact*/
.box :nth-child(6) {
    order: 3;
}
.box :nth-child(7) {
    order: 5;
}


.contact-titre {
    position: relative;
    display: block;
}

/*section 6 - Bande Gauche - A propos de moi*/

.box :nth-child(8) 
{
    order: 6;
}
.box :nth-child(9) {
    order: 7;
}


.a_propos-title {
    display: block;
    background-color: #262238;
}



/*section 7 - Bande Gauche - Loisirs*/

.box :nth-child(10) 
{
    order: 10;
}
.box :nth-child(11) {
    order: 11;
}

.loisirs {
    display: block;
}

.loisirs-titre {
    display: block;
    background-color: #262238;
}

