
/* Polices*/

@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('Roboto-Regular-webfont.woff2') format('woff2'), url('Roboto-Regular-webfont.woff') format('woff'), url('Roboto-Regular-webfont.ttf') format('truetype'), url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body>*
{
    font-family: fonts/robotoregular, acumin-pro;
}
        /* GENERALITES */
#body {  
    width: 100%;
    margin: auto;
}

#header{
    width: 100%;
    display: flex;   
}

#main {
    width: 100%;
    display: flex;

}
        /* COULEURS */
#left-box, .icon-left-box, #right-box {
    color: #142B45;
}
h3, #first-name, .picto, .double-point, .point {
    color: #ed3a88;
}
.photo, .contact, .a_propos, .loisirs, #job:after {
    background-color: #ed3a88;
}
        /* POLICES */
.date, .lieu, h4 {
    font-size: 16px;
}
.fa-book, .fa-pagelines {
    font-size: 30px;
}
#left-box, #right-box, .picto {
    font-size: 14px;
}
h3, h2 {
    font-size: 22px;
}
h2, h1, .date, .lieu, h4 {
    font-family: acumin-pro, sans-serif;
}

#last-name, #first-name {
    font-size: 40px;
}
h1, h3, h2, h4 {
    text-transform: uppercase;
}
        /* DISPOSITIONS & PARTICULARITES */
#left-box {
    width: 25%;

    float: left;
    display: flex;
    flex-direction: column;
    margin-right: 55px;
    text-align: justify;
}

.photo {
    width: 25%;
    flex: 1 1 auto;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ngm { 
    width: 133px;
    height: 133px;
    border: none;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #142B45;
}

.contact {
    flex: 2 1 auto;
}

.a_propos {
    flex: 3 1 auto;
}

.loisirs {
    flex: 0.4 1 auto;
}

h3 {
    background-color: #142B45;
    padding-top: 5px;
    padding-bottom: 5px;

    text-align: center;
}

#logo {
    justify-content: space-around;
    display: flex;    
}
.p-contact, .p-a_propos {
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}

.icon-left-box{
    border: 2px solid #142B45;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.fa-book {
    padding: 10px 13px 10px 13px;
}

.fa-pagelines {
    padding: 10px 14px 10px 14px;
}

.fa-plane { 
    font-size: 25px;
    padding: 12px 11px 12px 11px;
}

.fa-film {
    font-size: 28px;
    padding: 10px 11px 10px 11px;
}

#right-box {
    text-align: justify;
    float: right;
    display: block;
    width: 75%;

}

.title {
    padding-left: 55px;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 75%;
}

h1 {
    margin-bottom: 0px;
    line-height: 0px
} 

#first-name {  
    font-weight: bold;
}

#job {
    display: inline;
    font-weight: bold;
    font-size: 20px;
}

#job:after {
    content: "";
    height: 2px;
    width: 55px;
    display: block;
}

.picto {
    float: left;
    padding-top: 0px;
    margin-right: 20px;
    margin-left: 10px;
}

h2 {
    border-bottom: 2px #ed3a88 solid;  
    margin-right: 30px;    
}

.block {
    display: flex;   
    margin-top: 25px;
}

.left-article{
    width: 25%;
}

.double-point {                                
    margin-top: 5px;
 }

.point {
    padding-left: 0px;
    margin-right: 10px;
    margin-top: 8px;
    font-size: 9px;
}

.date {
    font-weight: normal;
    margin-left: 8px;

}

.lieu {
    font-weight: normal;     
    margin-left: 28px;
}

.right-article {
   margin-right: 30px;
   width: 75%; 
   margin-bottom: 10px;
}

h4 {
    margin-top: 0px;
    margin-bottom: 10px;
}

p {
    margin-top: 1px;
    margin-bottom: 5px;
}
            
aside {
    display: flex;  
    margin-top: 0px;
}

.aside-left {
    width: 33%;

}

.aside-right {
    width: 67%;
}

/* RESPONSIVE MOBILE */

@media (max-width: 800px) {
   
    #main {
        width: 100%;
        display: flex;

    }
  
        .formation, .experience_pro, .recommandation { /* ne fonctionne pas */
        width: 100%;
        display: block;
        flex-direction: column;
        
    }
    #header{
        flex-direction: column;
    }
   
    #main {
        flex-direction: column-reverse;
    }
    #left-box, #right-box, #header, .photo {
        width: 100%;
    }

        .point, .double-point, .picto {
        display: none;
    }
    .photo{
        background-color: white;   

    }
    h1{
      display: flex;
    }
    h1, h2, .p-contact {
        text-align: center;
    }

    .block, .left-article {
        display: flex;
        flex-direction: column;
        text-align: center;
       
        align-content: space-around; /* ne fonctionne pas */
    }
    .block {
        align-items: center;       
    }
    .date, .lieu, .right-article {
        margin-left: 0px;
        width: 100%;
     
    }

    .right-article {
        margin-right: 5px;
        margin-left: 5px;
    }
        .photo { /* à retirer? */
            flex: 0.4 1 auto;
        }
    .contact { /* à retirer? */
        flex: 2 1 auto;
    }
    .a_propos { /* à retirer? */
        flex: 3 1 auto;
    }
    .loisirs { /* à retirer? */
        flex: 1 1 auto;
    }
    #logo {
        padding-bottom: 20px;
    }
    h2 {
        margin-right: 0px;
    }

   
}

/* RESPONSIVE TABLETTE */

@media (min-width: 800px) and (max-width: 1100px) {
    #header,
    #main {
        width: 100%;
        display: flex;
    }

    #header {
        flex-direction: column;
        text-align: center;
    }

    #main {
        flex-direction: column-reverse;
    }

    #left-box, #right-box, #header, .photo {
        width: 100%;
    }

    .point, .double-point, .picto, #job:after {
        display: none;
    }

    .photo {
        background-color: white;
    }

    h1, h2, .p-contact {
        text-align: center;

    }

    .right-article {
        margin-right: 10px;
    }

    h2 {
        margin-right: 0px;
    }

    #logo {
        padding-bottom: 20px;
    }
    aside{  /* à terminer*/
        display: flex; 
        text-align: center;
    }

   
    .lieu {       
        margin-left: 10px;
    }


 
}
